[Unit]
Description=Respondd

[Service]
ExecStart=/opt/mesh-announce/respondd.py
Restart=always
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
