# Default settings
[Defaults]
# Listen port
# optional, default: 1001
Port: 1001
# Default link local listen addresses
# optional, default: ff02::2:1001
MulticastLinkAddress: ff02::2:1001
# Default site local listen addresses
# optional, default: ff05::2:1001
MulticastSiteAddress: ff05::2:1001
# Default domain to use
# optional, if specified incoming requests that can not be mapped to a domain
# are mapped to this domain
DefaultDomain: ffki
# Default domain type
# optional, default: simple
# supported domain types are: simple, batadv
DomainType: batadv
# Default fastd-public-key to use
# optional, default is None
# FastdPublicKey: 0000000000000000000000000000000000000000000000000000000000000000
# Default vpn protocols to use
# may contain csv if more than one protocol is used
# optional, default is fastd
# supported protocols are: fastd, None
VPNProtocols: fastd
# Default ddhcpd IPv4 gateway address
# optional
IPv4Gateway: 10.116.128.8
# Hostname to advertise
# optional, default is the system hostname
Hostname: gw01
# Hardware used by the system
# optional, default is None
Hardware-Model: KVM VirtualMachine
# Contact information of owner
# optional, default is None
Contact: info@example.org
# Latitude of the system
# optional, default is None
Latitude: 50.478083306
# Longitude of the system
# optional, default is None
Longitude: 12.335736752
# Is the system considered an gateway
# optional, default is True
VPN: True

# A domain
# User your own domain name here
[ffki]
# overwrite for domain_code
# optional: If specified, domain_code emits this instead of primary_domain_code,
# which is taken from the section title
# default: section title
DomainCode: kiel_gaarden
# This is a batman domain
# optional, default: @Defaults.DomainType
# supported domain types are: simple, batadv
DomainType: batadv
# Default fastd-public-key to use
# optional, default: @FastdPublickey
# FastdPublicKey: 0000000000000000000000000000000000000000000000000000000000000000
# Default vpn protocols to use
# may contain csv if more than one protocol is used
# optional, default is @VPNProtocol
# supported protocols are: fastd, None
VPNProtocols: fastd
# Link local listen addresses
# optional, default: @Defaults.MulticastLinkAddress
MulticastLinkAddress: ff02::2:1001
# Site local listen addresses
# optional, default: @Defautls.MulticastSiteAddress
MulticastSiteAddress: ff05::2:1001
# Batman interface
# only for batadv domains, defaults to bat-<domain name>
BatmanInterface: bat-ffki
# Other listen interfaces
# optional, specify comma separated list of listen/multicast interfaces for this domain here
Interfaces: mvpn-ffki
# IPv4 gateway option for ddhcpd
# optional, default: @IPv4Gateway
IPv4Gateway: 10.116.128.8
# Hostname to advertise
# optional, default: @Hostname
Hostname: ffki.gw01
# Hardware used by the system
# optional, default: @Hardware-Model
Hardware-Model: KVM VirtualMachine
# Contact information of owner
# optional, default: @Contact
Contact: ffki@example.org
# Latitude of the system
# optional, default: @Latitude
Latitude: 50.478083306
# Longitude of the system
# optional, default: @Longitude
Longitude: 12.335736752
# Is the system considered a gateway
# optional, default: @VPN
VPN: True

# An arbitrary number of further domains may follow here
